### DiCE basic (TensorFlow)
- DiCE requires two inputs: a training dataset and a pre-trained ML model

In [2]:
# supress deprecation warnings from TF
import tensorflow as tf
tf.compat.v1.logging.set_verbosity(tf.compat.v1.logging.ERROR)

# Import DiCE
import dice_ml
from dice_ml.utils import helpers # helper functions

backend = 'TF'+tf.__version__[0] # TF1
ML_modelpath = helpers.get_adult_income_modelpath(backend=backend)

### ① Load data

In [6]:
df = helpers.load_adult_income_dataset()

In [9]:
# Step 1: dice_ml.Data
d = dice_ml.Data(dataframe=df, continuous_features=['age', 'hours_per_week'], outcome_name='income')

### ② Load model

In [10]:
# Step 2: dice_ml.Model
m = dice_ml.Model(model_path= ML_modelpath, backend=backend)

In [11]:
# Step 3: initiate DiCE
exp = dice_ml.Dice(d, m)

In [12]:
# query instance in the form of a dictionary or a dataframe; keys: feature name, values: feature value
query_instance = {'age':22, 
                  'workclass':'Private', 
                  'education':'HS-grad', 
                  'marital_status':'Single', 
                  'occupation':'Service',
                  'race': 'White', 
                  'gender':'Female', 
                  'hours_per_week': 45}

### ③ Generate counterfactuals

In [16]:
# generate counterfactuals
dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=3, desired_class="opposite")

Diverse Counterfactuals found! total time taken: 00 min 21 sec

In [17]:
# visualize the result, highlight only the changes
dice_exp.visualize_as_dataframe(show_only_changes=True)

Query instance (original outcome : 0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,22.0,Private,HS-grad,Single,Service,White,Female,45.0,0.019

Diverse Counterfactual set (new outcome: 1.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,28.0,-,Doctorate,Married,White-Collar,-,-,-,0
1,37.0,Self-Employed,Masters,Married,-,-,-,-,0
2,49.0,-,-,Married,-,-,-,61.0,0