### DiCE basic (TensorFlow)
- DiCE requires two inputs: a training dataset and a pre-trained ML model

In [1]:
# supress deprecation warnings from TF
import tensorflow as tf
tf.compat.v1.logging.set_verbosity(tf.compat.v1.logging.ERROR)

# Import DiCE
import dice_ml
from dice_ml.utils import helpers # helper functions

import torch

backend = 'TF'+tf.__version__[0] # TF1
ML_modelpath = helpers.get_adult_income_modelpath(backend=backend)

### ① Load data

In [2]:
df = helpers.load_adult_income_dataset()

In [3]:
# Step 1: dice_ml.Data
d = dice_ml.Data(dataframe=df, continuous_features=['age', 'hours_per_week'], outcome_name='income')

### ② Load model

In [4]:
# Step 2: dice_ml.Model

try:
    import torch
    print('PyTorch installed.')
except ImportError as e:
    print("Import Error!", e.name, "not found.. Please install from https://pytorch.org/")

backend = 'PYT'

ML_modelpath = helpers.get_adult_income_modelpath(backend=backend)
m = dice_ml.Model(model_path= ML_modelpath, backend=backend)

PyTorch installed.

In [5]:
# Step 3: initiate DiCE
exp = dice_ml.Dice(d, m)

In [6]:
# query instance in the form of a dictionary or a dataframe; keys: feature name, values: feature value
query_instance = {'age':22, 
                  'workclass':'Private', 
                  'education':'HS-grad', 
                  'marital_status':'Single', 
                  'occupation':'Service',
                  'race': 'White', 
                  'gender':'Female', 
                  'hours_per_week': 45}

### ③ Generate counterfactuals

In [7]:
# generate counterfactuals
dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=3, desired_class="opposite")

Diverse Counterfactuals found! total time taken: 00 min 16 sec

In [8]:
# visualize the result, highlight only the changes
dice_exp.visualize_as_dataframe(show_only_changes=True)

Query instance (original outcome : 0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,22.0,Private,HS-grad,Single,Service,White,Female,45.0,0.0

Diverse Counterfactual set (new outcome: 1.0)

,age,workclass,education,marital_status,occupation,race,gender,hours_per_week,income
0,67.0,-,Doctorate,Married,-,-,Male,54.0,-
1,-,-,Doctorate,Married,Professional,-,-,51.0,-
2,64.0,-,Prof-school,Married,-,-,-,61.0,-